.book {
  box-shadow: 0px 4px 24px 0px #3333332e;
  padding: 32px;
  background-color: #fefefe;
  border-radius: 12px;
  font-family: "Mulish", sans-serif;
  position: relative;
  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #151515;
    margin-bottom: 6px;
  }
  p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    span {
      color: #333;
      font-size: 14px;
      font-weight: 400;
    }
    .page {
      color: #9654f4;
      width: 83px;
      height: 19px;
      font-size: 12px;
      border-radius: 8.5px;
      background-color: #efe6fd;
      text-align: center;
      padding-top: 2px;
    }
  }
  .btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1px;
    top: 16px;
    right: -32px;
    z-index: 99;
    span {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:first-child {
        background-color: #ff4d4f;
        border-radius: 6px 6px 6px 0px;
      }
      &:last-child {
        background-color: #6200ee;
        border-radius: 0 6px 6px 6px;
      }
      img {
        height: 16px;
      }
    }
  }
  .none {
    display: none;
  }
}
